	body {
	margin: 0;
	padding: 0 20px;
	font-family: Nunito,Arial,"Helvetica Neue",Helvetica,sans-serif;
	background: #8f2244;
	}
		a{
			text-decoration:none !important;
		}
#listos {display: grid;grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));grid-gap: 20px;justify-content: center;margin: 0px auto;padding: 0 0px;max-width: 1000px;}

.list:hover img{

transition: .13s all;

}

.list:hover {
	background: #ffffff;
	padding: 10px;
	border-radius: 10px;
	font-size: 12px;
	text-align: center;
	transform: scale(1.070);
	cursor: pointer;
	position: relative;
	z-index: 10;
	transition: .13s all;
	}
.list {background: #f9f9f9;transition: .25s all;padding: 10px;border-radius: 5px;box-shadow: 4px 4px 0px 0px #000;font-size: 12px;text-align: center;position: relative;}

.list img {width: 100%;
/* Resim boyutu */height: auto;
/* Resim boyutu */border-radius: 5px;}

.list h3{margin: 0 !important;color: #353433;text-overflow: ellipsis;padding: 2px 12px;position: absolute;text-transform: capitalize;overflow: hidden;white-space: nowrap;transform: translate(-50%, -50%);left: 50%;bottom: 10px;z-index: 1;background: #fff;font-size: 14px !important;max-width: 100px;border-radius: 13px;box-shadow: 0 1px 2px #000;}

#sol_ust_kategoriler {
    grid-column: span 5;
    grid-row: span 1;
    background: #ffffff;
    overflow: hidden;
    display: grid;
    box-shadow: none !important;
    grid-gap: 0px;
    padding: 10px;
    justify-content: center;
    margin: 0 !important;
    text-align: left;
}

#kats {display: grid;grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));grid-gap: 10px;justify-content: center;margin: 20px auto;max-width: 980px;}


.kat a{
    color: unset;
    text-decoration: none;
}
.kat a:hover{}
.kat:hover{
    color: #000000 !important;
    background: #ff9d9d;
    transition: .05s all;
}
.kat {
    font-size: 14px;
    color: #333 !important;
    font-weight: 600;
    padding: 0px 10px;
    display: grid;
    border-radius: 4px;
    margin-bottom: 3px;
    align-items: center;
    transition: 2s all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}



.reklam{
    width: 970px;
    height: 250px;
    grid-column: span 5;
    grid-row: span 2;
}


.dropdown-item img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  
  .navbar-nav{
	  display: grid;
	  grid-auto-flow: column;
	  align-items: center;
	  list-style: none;
	  grid-gap: 5px;
	 }
  .nav-item{
    color: #111 !important;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}
  .nav-item:hover{
}  .nav-link{
    color: #000 !important;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none !important;
    padding: 5px;
    background: #efefef;
    border-radius: 40px;
    transition: .2s all;
    padding: 6px 15px;
    box-shadow: 1px 4px 0px 0px #dcdcdc;
}
  .nav-link:hover{color: #111 !important;}
  .nav-link img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  
  
  .navbar{
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 0 !important;
    margin-bottom: 0;
}


#navbarSupportedContent{
	    display: grid !important;
	    justify-content: right;
	    background: #fff;
	    border-radius: 5px;
	    width: 100%;
	    margin-bottom: 15px;
	    box-shadow: 4px 6px 0px 0px #000;
}

#navbarDropdown{
    margin-top: 10px;
    color: #353535;
    margin-right: 10px;
    border-radius: 40px;
    padding: 6px 15px;
    height: 35px;
    line-height: 35px;
    margin-left: 0;
    font-weight: 700;
}
.dropdown-item {
    display: block;
    width: 100%;
}


     .navbar {
    
    }
    .navbar-nav .nav-link {
      color: #333;
    }
    .navbar-nav .nav-link:hover {
      color: #fff !important;
      background: #4585e9;
      transition: .2s all;
      box-shadow: 1px 4px 0px 0px #295ba9;
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #ffffff;
      box-shadow: -17px 8px 16px 0px rgb(0 0 0 / 10%);
      z-index: 50;
      right: 10px;
      width: 150px;
      padding: 10px 10px;
      top: 40px;
      border-radius: 10px;
    }
    .dropdown-menu a {
      color: #000;
      text-decoration: none;
      display: block;
      margin-bottom: 8px;
      font-weight: 700;
    }
    .dropdown-menu a:hover {
		 color: #3c75e1 !important;
		 text-decoration: underline !important;
		 }
	
	
 .mry_2{
    display: grid;
    justify-content: center;
    width: 970px;
    height: 250px;
    margin: 0 auto;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}
 
 
._f12_sayfala {
	list-style-type: none;
	padding: 10px 0;
	display: grid;
	justify-content: center;
	box-sizing: border-box;
	grid-auto-flow: column;
	color: #fff;
}
._f12_sayfala li {
	box-sizing: border-box;
	padding-right: 10px;
}
._f12_sayfala li a {
	box-sizing: border-box;
	background-color: aliceblue;
	text-decoration: none;
	font-size: 15px;
	color: #000;
	border-radius: 40px;
	height: 30px !important;
	font-weight: 700;
	display: grid;
	align-items: center;
	width: 30px;
	text-align: center;
	justify-content: center;
	box-shadow: inset 0 -5px 0 rgba(0,0,0,.095),0 2px 4px rgba(0,0,0,.025),0 2px 4px rgba(0,0,0,.04)!important;
}
._f12_sayfala li a:hover {
	background-color: #f1ff7d;
	color: #000;
}
._f12_sayfala .next a, ._f12_sayfala .prev a {
	text-transform: uppercase;
	font-size: 12px;
}
._f12_sayfala .currentpage a {
	background-color: #fff939;
	color: #000;
}
._f12_sayfala .currentpage a:hover {
	color: #000;
}


.top_bar{
	    background: rgb(255 255 255 / 0%);
	    max-width: 1000px;
	    margin: 0 auto;
	    height: 50px;
	    border-radius: 5px;
	    margin-top: 10px;
	    padding: 10px 0px !important;
}

#search-input{
    border-radius: 50px;
    float: right;
    border: none !important;
    display: inline-block;
    background: #ffffff;
    height: 35px;
    outline: none !important;
    padding: 4px 20px;
    box-shadow: 1px 5px 0px 0px #000;
    width: 100%;
    font-size: 15px;
    color: #444;
    font-family: 'Nunito';
    font-weight: 700;
}
.search-container {
    position: relative;
    width: 300px;
    float: right;
    margin-top: 5px;
    margin-right: 0;
}
.sikik_selo_liste:hover{background: #77ff82;cursor: pointer;}
.sikik_selo_liste img{
}
.sikik_selo_liste a{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    text-decoration: none !important;
}
.sikik_selo_liste{
    margin-bottom: 5px;
    display: grid;
    grid-auto-flow: column;
    background: #ffffff;
    justify-content: left;
    padding: 8px;
    grid-gap: 12px;
    border-radius: 5px;
    align-items: center;
}
.search-results{
    position: absolute;
    left: -35px;
    top: 50px;
    background: #ffffff;
    z-index: 15000;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    border: 5px solid #111;
}

.logo{
    float: left;
    margin-left: 0px;
    font-weight: 700;
    font-size: 28px;
    color: #000;
    letter-spacing: -1px;
    display: grid;
    align-items: center;
    font-family: 'Nunito';
    background: #ffffff;
    padding: 4px 16px;
    border-radius: 20px;
    margin-top: 0px;
    box-shadow: 1px 5px 0px 0px #000;
    border: 0px solid #235dcb;
}

 
 
 
ul.ylist img {
    width: 180px;
    border-radius: 10px;
    height: 160px;
    box-shadow: rgba(0, 0, 0, 0.114) 0px 0.2125rem 0.9425rem !important;
}

ul.ylist .title {
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    border-radius: 10px;
    text-decoration: none !important;
}

ul.ylist {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
    max-width: 1000px;
    margin: 0 auto;
    background: rgb(255 255 255 / 0%);
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: 20px;
    box-sizing: border-box;
}

ul.ylist li:hover .title {
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

ul.ylist li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.ylist li {
    padding: 0px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    align-items: center;
    background: #fff;
    text-align: center;
    text-decoration: none !important;
    box-shadow: 6px 4px 0px 0px #000;
    font-family: Poppins;
    transition: all .5s ease 0s;
    display: grid;
    gap: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    grid-auto-flow: column;
    text-decoration: none !important;
    font-size: 15px !important;
}

ul.ylist li:hover {
    color: rgb(0 0 0) !important;
    z-index: 100;
    transition: all 0.025s ease 0s;
    background: #d1ff97 !important;
}

.ylist-title {
    color: rgb(0 0 0);
    font-size: 18px;
    text-decoration: none !important;
    font-weight: 700;
}

.ylist-info {
    color: rgb(0 0 0);
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    padding: 10px;
    align-items: center;
    grid-gap: 10px;
    text-align: left;
    font-family: 'Nunito';
    text-decoration: none !important;
}

.yatm {
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}


.yimage{
    width: 70px !important;
    height: 70px !important;
    border-radius: 100px !important;
}

.anne_baslik h2{
    background: rgb(0 0 0 / 47%);
    padding: 3px 12px;
    margin: 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Poppins';
}
.anne_baslik{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    display: grid;
    justify-content: left;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 30px;
    text-shadow: 2px 1px 0px #333;
    font-weight: 700;
    padding: 0 0px !important;
}


.katm {
    color: #000;
    display: grid;
    max-width: 1000px;
    background: rgb(255 255 255);
    margin: 0 auto;
    font-size: 17px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-family: poppins;
    box-sizing: border-box;
}

.makalele {
    background: #fff;
    border-radius: 10px;
    max-width: 960px;
    margin: 20px auto;
    display: grid;
    padding: 20px;
    color: #111;
    font-weight: 600;
    font-family: 'Poppins';
}



ul.kat_list img {
    width: 180px;
    border-radius: 10px;
    height: 160px;
    box-shadow: rgba(0, 0, 0, 0.114) 0px 0.2125rem 0.9425rem !important;
}

ul.kat_list .title {
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    border-radius: 10px;
    text-decoration: none !important;
}

ul.kat_list {
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    max-width: 1040px;
    justify-content: center;
    margin: 0 auto;
}

ul.kat_list li:hover .title {
    color: rgb(0, 0, 0);
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

ul.kat_list li h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.kat_list li {
    padding: 0px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    transition: all 0.3s ease 0s;
    display: grid;
    gap: 10px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    grid-auto-flow: column;
    text-decoration: none !important;
    font-size: 15px !important;
}

ul.kat_list li:hover {
    color: rgb(0, 0, 0);
    z-index: 100;
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}

.klist-title {
    color: rgb(0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 700;
    font-size: 18px;
    text-overflow: ellipsis;
    max-width: 200px;
    background: #ffec69;
    border-radius: 50px;
    padding: 8px;
    box-shadow: inset 0 -4px 0 rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.25),0 2px 4px rgba(0,0,0,.4)!important;
}

.klist-info {
    color: rgba(255, 255, 255, 0.5);
}
 
 
 
#mobile-play {
    position: relative;
}

#mobile-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    color: rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}

.lessons-container {
    border-radius: 18px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
}
 

 
.kap {
    position: absolute;
    top: 0px;
    left: 0px;
    background: radial-gradient(circle 50vw at 100% 0, #ffa89a, transparent), radial-gradient(circle 50vw at 20% 25vw, #86b6ff, transparent), linear-gradient(180deg, #b871ff, #aa8dff 25vw, #a12575 50vw);
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.skip_screen {
    position: absolute;
    z-index: 10001;
    margin: 0px auto;
    left: 50%;
    display: grid;
    top: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    gap: 15px;
    justify-content: center !important;
}

.skip_play:hover {
    cursor: pointer;
    background: rgb(0 0 0);
    color: #fff;
}

.skip_play {
    background: rgb(255 255 255);
    width: 100px;
    margin: 0px auto;
    padding: 1px 5px;
    font-size: 26px;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(45, 45, 45);
}

.skip_screen img {
    margin: 0px auto;
    border-radius: 10px;
}

 .lessons-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 570px;
}

.lessons-iframe {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}
 
.section-title{
    margin: 0 auto;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    text-shadow: 1px 3px 20px #000;
    font-family: 'Poppins';
    margin-bottom: 15px !important;
    margin-top: 25px;
}

.header-right{
    position: absolute;
    right: 0;
    bottom: 3px;
}

.b-action2{}

.btn-capsule{
    background: #fff;
    padding: 3px 12px;
    color: #000;
    border-radius: 3px;
    font-weight: 700;
}
.btn-capsule:hover{
    background: #000;
    color: #fff;
}